.orderSummaryBox {
    display: flex;
    flex: 2;
    background-color: #eeeeee;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
    margin-top: 40px;
}

h2 {
  margin-bottom: 0px;
}
  

@media (min-width: 769px) {
}

@media (max-width: 768px) {
  .orderSummaryDetails {
    font-size: small; 
  }

  h3 {
    font-size: medium;
  }
}